.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    padding-top: 2em;
    padding-bottom: 5em;
}


.header img {
    position: relative;
    max-width: 96px;
    margin-right: 1em;
}

    
